/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.css */

body {
    background-color: #8b868694; /* Light gray background color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
app-root {
    display: block;
  }

  /* Add this to your global styles (styles.css or styles.scss) */

  
  
